@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Work Sans', sans-serif;
    ;
}

.swiper-pagination-bullet {
    background: #fa8c02;
}

.swiper-pagination-bullet-active {
    background: #fa8c02;
}